@import url('reset.css');

body {font: 12px Verdana, Arial, sans-serif; color:#000; background:#eee; }

#headNav {
	background-color:#2d2a62;
	color:#fff;
	border-bottom:1px solid #eee;
	margin-bottom:5px;
}
A.topNavbarLink:link, A.topNavbarLink:hover, A.topNavbarLink:visited, A.topNavbarLink:visited:hover   {
	color:#fff;
	text-decoration:none;
	font-size:11px;
}
#omeka-logo {
	text-decoration:none;
}

h1.exhHeader {
        font-size:32px;
        vertical-align:middle;
        color:#ffffff;
        /*text-transform:uppercase;*/
        font-family: "Times New Roman", Times, Serif;
        text-decoration:none;
        font-weight:normal;
        padding:100px 0 0 25px;
}
h1.exhHeader A, h1.exhHeader A:visited {
        color:#fff;
        text-decoration:none;
}
.headBack {
        background:#000;
        height:140px;
        overflow:hidden;
}

h1, h2, h3, h4, h5 {color:#336699; padding:8px 0 5px 0;}
h1.head {font-family:"Trebuchet MS"; font-size:22px;padding:10px;background-color:#000;border-bottom:10px solid #a4924a; color:#fff;}
h1 {font-family:"Trebuchet MS"; font-size:22px;color:#336699;}
h1.head A { color:#fff; }
h2 {font-size:2em; color: #336699; /*margin-bottom:1.25em; line-height:1.125em;*/}
h3 {font-size:1em; font-weight:bold;padding-top:15px; /*margin-bottom:1.2857em; line-height:1.2857em;clear: both;*/}
h5 {float: right;padding:1em 1em;}
TABLE.layoutTable {
	border-top:10px solid #a4924a;
}
.layoutTable TD {
	vertical-align:top;
}

TD.content {
	padding-left:1em;
	padding-top:1em;
	/* fcd1, 9/16/13: added padding-right */
	padding-right:1em;
}
a img {border:none;}
p,ul,ol,dl {font-size:1em; margin-bottom:1.5em;/*line-height:1.8em;*/}
p {padding: 0 18px 0 0;}
i,em { font-size:1em; font-style:italic; }
b,strong { font-size:1em; font-weight:bold; }

a:link {color:#336699; /*003399;*/}
a:visited {color: #336699;}
a:hover {color: #336699; text-decoration: none;}
	h1 a, h1 a:visited {text-decoration: none;color:#fff;}
	h5 a, h5 a:visited {color: #336699;}

/* == Structure == */
#wrap {width:950px; margin:0px auto; overflow:hidden;background-color:#fff;border:1px solid #ccc;}
#header {clear: both;padding:0; margin: 0;overflow: hidden;}
.exhibit-nav { background: #003366; text-align:top;}
#exhibit-nav { float: left;padding: 0; /* 18px; */width:215px;}
#content {/*float: right;overflow: hidden;*/min-height:400px;width: 713px; padding:0 18px; border-left: 1px solid #c7b5a2;background:#fff;}
#footer {clear: both;padding:0;margin:0;margin-top:5px;color:#fff;background-color:#2d2a62;font-size:11px;min-height:18px;vertical-align:middle; border-top:1px solid #eee;}
	#footer a {color: #fff;}
	#footer a:visited {color: #fff;}
		
/* =Exhibit Navigation= */	
.exhibit-section-nav {
	width:225px;
	/* width:215px;
	padding-right:12px;*/
	overflow:hidden; 
}

.exhibit-section-nav li {
/*	width:auto; */
	width:100%;
	float:left;
	list-style-type:none;
	display:block;
	text-align:left;
/*	padding:0.5em 0;
	line-height:1.5em; */
	padding-left:0.75em;
}

.exhibit-section-nav li a {
/*	width:100%; */
	color:#fff;
	display:block;
	text-decoration:none;
	padding:0.5em 0.5em 0.5em 0.75em
}

	.exhibit-section-nav .current a, .exhibit-section-nav .current a:visited {
		background:#99ccff;	
		color:#336699;
		font-weight:bold;
	}

	.exhibit-section-nav li a:hover, .exhibit-section-nav li a:visited:hover {font-weight:bold; color: #336699;background-color:#99ccff;}
	.exhibit-nested-section .current a, .exhibit-nested-section .current a:visited { 
		font-weight:bold;
	}	
	.exhibit-nested-section .current a:hover, .exhibit-nested-section .current a:visited:hover {
		font-weight:bold;
	}	

/* = previous/next = */
.exhibit-page-navigation {
	width:auto;
	float:right;
	font-size:11px;
	color:#369;
/*	padding:6px;
	margin:6px; */
	margin:0px;
	clear:both; /* JD addition? */
}

.exhibit-page-navigation .prevNext {
	width:auto;
	float:right;
	font-size:11px;
	color:#369;
	padding:6px;
	margin:6px;
	clear:both; /* JD addition? */
}

/* =Page Navigation= */
        .exhibit-page-nav {list-style-type:square;padding:1px; width:100%;padding-top:0px;margin-top:-12px; }
	.exhibit-page-nav li {display:block;margin-top:0px; margin-left:1.5em; text-align: left; padding-bottom:6px;} 
	.exhibit-page-nav li a {text-decoration:none; color:#eee;}
	.exhibit-page-nav li a:hover {text-decoration:underline;}
	.exhibit-page-nav li.current, .exhibit-page-nav li.current a, .exhibit-page-nav li.current a:visited  { color: #fff; font-weight:bold;}
	.exhibit-page-nav li.current a:hover, .exhibit-page-nav li.current a:visited:hover { color:#fff; text-decoration:underline;}

/* == nested sections == */
	.exhibit-nested-section .exhibit-page-nav a, 
	.exhibit-nested-section .exhibit-page-nav a:visited, 
	.exhibit-nested-section .exhibit-page-nav a:hover,
	.exhibit-nested-section .exhibit-page-nav a:visited:hover { 
		font-weight:normal; 
		color: #ffffff;
		background: none;
		padding-bottom:1px;
	}
	.exhibit-nested-section .exhibit-page-nav .current a, 
	.exhibit-nested-section .exhibit-page-nav .current a:visited,
	.exhibit-nested-section .exhibit-page-nav .current a:hover,
	.exhibit-nested-section .exhibit-page-nav .current a:visited:hover {
		font-weight:bold; 
		color: #ffffff;
		background:none;
		padding-bottom:1px;
	}

/* == Content == */
#exhibit-sections h3 { margin: 5px 0 0 0; padding:0px; font-weight:bold;font-size: 1.2em; letter-spacing: .1em;}
#exhibit-sections h3 a,#exhibit-sections h3 a:visited {text-decoration: none;color: #336699;}
#exhibit-sections h3 a:hover {color: #dbcab1;}
#exhibit-sections p {/*margin: 0 0 1.8em; padding: 0 18px 0 0;*/}
	
.commentary {background:#eee; padding:18px;}
	.commentary p {font-size:1.1em; line-height:1.63636;}
	
/* == Layout == */
.gallery-full-left,
.gallery-full-right,
.gallery-thumbnails,
.gallery-thumbnails-text-bottom,
.gallery-thumbnails-text-top,
.image-list-left,
.image-list-left-thumbs,
.image-list-right,
.image-list-right-thumbs,
.text-full,
.text-image-left,
.text-image-right
	{clear: both;}

.gallery-thumbnails .exhibit-item,
.gallery-thumbnails-text-bottom .exhibit-item,
.gallery-thumbnails-text-top .exhibit-item {
	text-align:center;
}
/* for large left or right photos */
/*
.gallery-full-left .primary .permalink img.full, .gallery-full-right .primary .permalink img.full{
	width:350px;
	height:600px;
}
.image-list-right img{
	width:350px;
}
.image-list-left img{
	width:350px;
}

.gallery-thumbnails-text-top .secondary .exhibit-item,
.gallery-thumbnails-text-bottom .secondary .exhibit-item 
{
display: block;
float: left;
width: 170px;
height: 170px;
padding-top: 18px;
margin-right: 18px;
margin-bottom: 18px;
overflow:hidden;
}

.item img, .exhibit-item img {margin-bottom: 1.5em;}

.image-list-left .exhibit-item, 
.image-list-right .exhibit-item, 
.image-list-left-thumbs .exhibit-item,
.image-list-right-thumbs .exhibit-item
{
	margin-top:10px;
	border-bottom:1px solid #eee;
}
*/


/* LAYOUT: GALLERY-THUMBNAILS (ALL) */
/*
.gallery-thumbnails-text-bottom .exhibit-item,
*/
.gallery-thumbnails .exhibit-item,
.gallery-thumbnails-text-top .exhibit-item {
        text-align:center;
        width:auto;
        /*float:left;*/
        padding:10px;
}
.gallery-thumbnails-text-bottom .exhibit-text, .gallery-thumbnails-text-top .exhibit-text {
        clear:both;
        /*float:left;*/
}

/* LAYOUT: GALLERY-FULL-LEFT AND LAYOUT: GALLERY-FULL-RIGHT */
.gallery-full-left .primary {
        float:left;
        width:300px;
        padding:1em;
}
.gallery-full-left .primary IMG {
        width:300px;
}
.gallery-full-left .secondary {
        padding:1em;
}

.gallery-full-right .primary {
        float:right;
        width:300px;
        padding:1em;
}
.gallery-full-right .primary IMG {
        width:300px;
}
.gallery-full-right .secondary {
        padding:1em;
}
/* LAYOUT: TEXT-IMAGE-LEFT AND LAYOTU: TEXT-IMAGE-RIGHT */
.text-image-left IMG {
        width:400px;
        float:left;
        padding:1em;
}

.text-image-right IMG {
        width:400px;
        float:right;
        padding:1em;
}
/* LAYOUT: IMAGE-LIST-LEFT AND LAYOUT: IMAGE-LIST-RIGHT */
.image-list-left .image-text-group, .image-list-right .image-text-group {
	width:auto;
}
.image-list-left IMG.full  {
/*
        width:400px;
??? can an explicit width be omitted?
??? it seems to make image stretched in IE
??? No, it cannot be omitted.  
??? So how to fix the stretching?
        height:auto;
        width:350px;
*/
        width:100%;
        float:left;
}

.image-list-left .exhibit-text  {
        width:300px;
        height:auto;
        float:right;
}

.image-list-right IMG.full {
/*
        width:400px;
        width:350px;
        height:auto;
*/
        width:100%;
        float:right;
}
.image-list-right .exhibit-text  {
        width:300px;
        height:auto;
	/*float:left;*/
}
.image-list-left .exhibit-item, .image-list-right .exhibit-item {
        margin-top:10px;
        /*border-bottom:1px solid #eee;*/
}
/* generic */
.image-text-group {
        clear:both;
        border-bottom:1px solid #eee;
}

/* LAYOUT: IMAGE-LIST-LEFT-THUMBS AND LAYOUT: IMAGE-LIST-RIGHT-THUMBS */
.image-list-left-thumbs .exhibit-item {
        float:left;
        width:200px;
        padding:5px;
}
.image-list-left-thumbs .exhibit-text {
        float:right;
        width:400px;
        padding:5px;
}
.image-list-right-thumbs .exhibit-item {
        float:right;
        width:200px;
        padding:5px;
}
.image-list-right-thumbs .exhibit-text {
        float:left;
        width:400px;
        padding:5px;
}

/* generic */
.item img, .exhibit-item img {margin-bottom: 1.5em;}



/* == Item Show == */
.item-title {padding-left: 0;margin-top: 0;}
.field {padding-bottom: 1em;}
.field-value {padding-left: 1.5em;margin-top: 0.75em;}
.tags {margin-bottom: 1em;}
#item-files {margin-bottom:1.5em;text-align:center;}
.item-file {
	background:#eee;
	text-align:center;
	padding:5px;
	margin-bottom:1.5em;
}
.footer11px { font-size: 11px; width:98%; text-align:center; color:#999999;}
.footer11px A, .footer11px A:visited { color:#999999; }
#solidBlock {
	background-color:#003366; //#5d6670; #4f474b;
	width:744px;overflow:hidden;margin-left:-20px;
	text-align:right;
}
#solidBlock h1 {
	color:#fff;
	font-family:"Trebuchet MS"; font-size:22px;color:#fff;
	border:none;
	background-color:transparent;
	padding:0;margin:0;
}
#solidBlock A {
	color:#fff;
}
#solidBlockSecondary {
	background-color:#003366;
	height:auto;
}

#primary H1 {
	font-size:22px; color: #336699; margin-bottom:1.25em; line-height:1.125em; border-bottom:1px solid #336699;
}
#primary H2 {
	font-size:1.5em; color: #336699; margin-bottom:1.25em; line-height:1.125em; font-weight:bold;
}
.element-set {
	/*margin-top:-25px;*/
}
.element-set H2 {
	display:none;
}
li.item-title {
	font-weight:bold; 
}
.permalink IMG.full {
        width:450px;
        height:auto;
}

.bigImage {
        width:450px;
        padding-left:1px;padding-right:1px;margin:1px;
        overflow:hidden;
	display:inline;
}
.bigImage img {
	width:450px;
	height:auto;
}
.image-list-left .exhibit-item-img {
	margin: 0 10px 10px 0;
}
DIV.element-text-empty {
        display:none;
}

/*
.prevNext, .prevNext A, .prevNext A:visited {
	font-size:11px;
	color:#333;
	text-align:right;
	width:100%;
	padding:5px;
	clear:both;
}
*/

.gallery-full-right .primary .exhibit-item {
}
.tertiary {
	clear:both;
	display:block;
}

/* fcd1, 9/6/13: item.php stuff */
#item-page-content td {
	padding:20px;
	background-color:#fff;
}

.item-file a {
	float: right;
	top: 0;	
	margin-right: 50px;
	margin-left: 5px;
	padding: 5px;
	text-align: center;
/*	background: #eee; */
	background: #fff;
	width: 250px;
}

.item-file {
	background-color:#fff;
	margin-bottom:0px;
}

.item-file img {
	background: #fff;
}

.copyright-footer {
	font-size: 11px;
	width: 98%;
	text-align: center;
	color: #999;
}

/* fcd1, 9/13/13 */
.exhibit-child-nav li {
    margin-top:4px; 
}

.exhibit-section-nav li.exhibit-section-title {
    margin-top:4px; 
}

#cul-general-exhibit-nav-title {
	padding-left:0em;
}

.exhibit-child-nav {
	margin-bottom:0px;
}

.exhibit-section-nav > li {
	padding-left:0em;
}

a.link-to-item-page  {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    vertical-align: bottom;
    font-size: 0.75em;
    margin-bottom:10px;
}

.exhibit-child-nav li.precedes-ul-tag {
	margin-top:0px;
}

/* fcd1, 9/26/13: needed to bring images above CUL widget top navbar */
/* CUL widget (javascript) uses 1030, so go 1 up */
div.highslide-container {
    z-index: 1031 !important;
}

/* fcd1, 10/18/13: added following in order to remove the width attribute from within
the html code for summary.php, legacy code */
summary table.layoutTable,
show table.layoutTable {
    width: 100%;
}

#exhibit-sections p {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.copyright-footer, .footer11px {
    font-size: 11px;
    width:98%;
    text-align:center;
    color:#999;
}

p.footer11px {
    padding-top: 6px;
}

p.copyright-footer a {
    color: inherit;
}